site_name: LearnX - Learning Management System
site_author: Divyansh Jain
site_description: A simple and scalable LMS built using the MERN stack with PWA features.
repo_url: https://github.com/divyanshgkmit/learnx-docs
repo_name: divyanshgkmit/learnx-docs

theme:
  name: material
  language: en
  font:
    text: Outfit
    code: Roboto Mono
  features:
    - navigation.footer
    - search.highlight
    - search.suggest
  palette:
    - scheme: default
      primary: indigo
      accent: blue
      toggle:
        icon: material/weather-night
        name: Dark mode
    - scheme: slate
      primary: indigo
      accent: blue
      toggle:
        icon: material/weather-sunny
        name: Light mode
  icon:
    repo: fontawesome/brands/github

nav:
  - Home: index.md
  - Functional Use Case: functional.md
  - Business Use Case: business.md
  - Technical Documentation:
    - Architecture & Docs: technical.md
    - CI/CD Pipeline and Deployment Flow: cicd.md
    - Data Flow Diagrams: dfd.md
    - Testing Plan: testing.md
  - Schema Docs: schema.md

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/divyanshgkmit
    - icon: fontawesome/solid/paper-plane
      link: mailto:divyanshjain@gkmit.co

plugins:
  - search
  - tags

markdown_extensions:
  - admonition
  - attr_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.details
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

extra_javascript:
  - https://unpkg.com/mermaid@10.9.0/dist/mermaid.min.js
